.navbar{
    background: whitesmoke;
}

.navbar img{
    width: 200px;
    height: 50px;

}

.nav-item img{
    width:40px;
    border-radius: 50%;
}

#sidebar{
    position: fixed;
    width: auto;
    height: 100%;
    margin-left: -50px;
    background: white;
    border-right: 1px solid #cfd8dc;
    /*left: 10px;*/
    /*transition: all 500ms linear;*/
}

#sidebar ul li{
    /*color: rgba(230, 230, 230, 0.9);*/
    list-style: none;
    padding: 15px 10px;
    color: black;
    /*border-bottom: 1px solid rgba(100, 100, 100, 0.3);*/
}

#sidebar a{
    color: #757575;
}

#sidebar ul li a:hover{
  background-color: white;
  color: black;
}
